name: Publish Artifacts

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types: ['published']

jobs:
  publish-container-image:
    permissions:
      id-token: write
      contents: read
      packages: write
      attestations: write
    uses: datum-cloud/actions/.github/workflows/publish-docker.yaml@v1.5.0
    with:
      image-name: telemetry-services-operator
    secrets: inherit

  publish-kustomize-bundles:
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: datum-cloud/actions/.github/workflows/publish-kustomize-bundle.yaml@v1.5.0
    with:
      bundle-name: ghcr.io/datum-cloud/telemetry-services-operator-kustomize
      bundle-path: config
    secrets: inherit
